.body {
    font-family: 'Poppins', sans-serif !important;

}









.table-head {
    background-color: #25273C;




    color: #fff;
}

.table-hover>tbody>tr:hover {
    background-color: #eee;
}

.table-responsive {
    padding-bottom: 50px;
    min-height: .01%;
    overflow-x: auto;
}


.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-family: 'Poppins', sans-serif !important;
}

.navbar-inverse .navbar-toggle {
    border-color: #896eff;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #f2f2f2;
}

.navbar-inverse {
    background-color: black;
    border-color: black;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-weight: 600;
}


.table>thead>tr>th {
    text-align: center;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 15px;
    text-align: center;
    font-family: 'Poppins', sans-serif !important;
}


.title {
    font-family: 'Poppins', sans-serif !important;
    text-align: center;
    padding: 20px;
    color: black;
}

.button {
    padding: 30px;
}

.btn {
    font-family: 'Poppins', sans-serif !important;
}

.btn-1 {
    font-family: 'Poppins', sans-serif !important;
    background: #0F0F6D;
    color: #ffffff;
    cursor: pointer;
    font-size: 2em;
    padding: 1.5rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    position: relative;

    &::after {
        content: "\f054";
        font-family: "Font Awesome 5 Pro";
        font-weight: 400;
        position: absolute;
        left: 85%;
        top: 31%;
        right: 5%;
        bottom: 0;
        opacity: 0;
    }

    &:hover {
        background: #2b2bff;
        transition: all 0.5s;
        border-radius: 10px;
        box-shadow: 0px 6px 15px #0000ff61;
        padding: 1.5rem 3.5rem 1.5rem 1.5rem;

        &::after {
            opacity: 1;
            transition: all 0.5s;
        }
    }
}


.menu-btn {
    background-color: #25273C;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif !important;
    margin: 4px 2px;
    border-radius: 10px;
}

.menu-btn:hover {
    background-color: #C5D2DB;
    text-decoration: none;
    color: #fff;
}


.background-1 {
    height: 500px;
    background-image: url('https://www.tokkoro.com/picsup/3015445-account_bank-account_banking_business_cash_coins_currency_finance_money_payment_pences_pounds_revenue_secured_transaction_.jpg');

    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.background-2 {
    /*height: 500px;*/
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6iyNSvW4b6ad63RJfZlW_k1ZTNnBRTdC2qg&usqp=CAU') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



footer {
    font-family: 'Poppins', sans-serif !important;
    background-color: white;
    padding: 25px;

}

.footer {
    background: #667e93;
}


.social-icon {
    margin: 20px 10px;
}

.pop {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    color: #667e93;
    background: #06303A;
    font-size: 1.5em;
    text-align: center;
    line-height: 100px;
}

.customer-body {
    background-image: url('https://www.macmillandictionary.com/external/slideshow/full/Sky%20Blue_full.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.background-4 {
    /height: 500px;/ background: url('https://media.istockphoto.com/photos/bank-picture-id626702872?k=6&m=626702872&s=612x612&w=0&h=MqMuP_LE87RJKT4exQ0VnYF4S570AsC5QtyUsp8lqrk=') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}